<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">

<!-- Image Background Page Header -->
<header class="business-header" style="background: url(/images/background/characters_bg.png) center center no-repeat scroll;" layout:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class = "tagline">Characters</h1>
                <p>Players in the Game of Thrones.</p>
            </div>
        </div>
    </div>
</header>


<!-- Page Content -->
<div class ="container" layout:fragment="breadcrumb">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Characters</li>
        </ol>
    </div>
</div>

<!-- CONTAINER -->
<div class="container" layout:fragment="body">

    <!-- Toggle Button -->
    <div class="buttons col-md-10 col-md-offset-2">
        <button class="grid"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
        <button class="table-hover"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
    </div>

    <!-- Picture Grid -->
    <div class="row pic-grid">
        <div class="row pillars">

            <div class="col-sm-4" th:each="character : ${characterList}">
                <a th:href="'/characters/'+${character.characterId}">
                    <img class="img-circle img-responsive img-center" th:src="'/images/characters/character'+${character.characterId}+'.png'"/>
                </a>
                <h2 th:text="${character.getFullName()}"></h2>
            </div>


        </div>
    </div>

    <!-- Table -->
    <table class="row table table-hover hide tablesorter" id="tableView">
        <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Name</th>
            <th>Gender</th>
            <th>Religion</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="character : ${characterList}" class="clickable-row" th:attr="data-href='/characters/'+${character.characterId}">
            <td th:text="${character.characterId}"></td>
            <td><div><img class="img-circle" th:src="'/images/characters/character'+${character.characterId}+'.png'"/></div></td>
            <td th:text="${character.getFullName()}"></td>
            <td th:text="${character.gender}"></td>
            <td th:text="${character.religion}"></td>
            <td th:text="${character.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- END CONTAINER -->



<script layout:fragment="scripts">
  $("#tableView").tablesorter();
</script>



</html>
