<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">


<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header" style="background: url(./images/background/episodes_bg.jpg) center center no-repeat scroll;" layout:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class = "tagline">Episodes</h1>
                <p>Summaries across four seasons.</p>
            </div>
        </div>
    </div>
</header>




<!-- Page Content -->
<div class ="container" layout:fragment="breadcrumb">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Episodes</li>
        </ol>
    </div>
</div>


<div layout:fragment="body">
    <!-- Toggle Button -->
    <div class="container">
        <div class="buttons col-md-10 col-md-offset-2">
            <button class="grid"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
            <button class="table-hover"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
        </div>
    </div>

    <!-- Panels -->
    <div class="container">
        <div class="panel-group pic-grid" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default" th:each="x,iterStat : ${seasonList}">
                <div class="panel-heading" role="tab" th:id="'heading'+${iterStat.index+1}">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" th:href="'#collapse'+${iterStat.index+1}" aria-expanded="true" th:attr="aria-controls='collapse'+${iterStat.index+1}" th:text="'Season ' + ${iterStat.index+1}"></a>
                    </h4>
                </div>
                <div th:id="'collapse'+${iterStat.index+1}" class="panel-collapse collapse" role="tabpanel" th:attr="aria-labelledby='heading'+${iterStat.index+1}">
                    <div class="panel-body">
                        <div class="row pillars">
                            <div class="col-sm-1"></div>
                            <div th:each="e : ${x}">
                                <div class="row pillars" if="${e.episodeNumber % 6}">
                                    <div class="col-sm-1"></div>

                                    <div class="col-sm-2">
                                        <a th:href="'/episodes/'+${e.epId}" style="text-decorations:none">
                                            <div class="img-rounded img-responsive img-center ep-banner" th:style="'background-image: url(./images/episodes/episode'+${e.epId}+'.png'">
                                                <h1 class="ep-number" th:text="${e.epId}"></h1>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- Table -->
        <table class="row table table-hover hide tablesorter" id="tableView">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Season</th>
                <th>Episode</th>
            </tr>
            </thead>


            <tbody th:each="s : ${seasonList}">
            <tr th:each="e: ${s}" class="clickable-row" th:attr="data-href='/episodes/'+${e.epId}">
                <th th:text="${e.epId}"></th>
                <td th:text="${e.name}"></td>
                <td th:text="${e.season}"></td>
                <td th:text="${e.episodeNumber}"></td>
            </tr>
            </tbody>
        </table>
    </div>




</div>
<!-- END CONTAINER -->


<script layout:fragment="scripts">
    document.getElementById("collapse1").setAttribute("class", "panel-collapse collapse in");
    $("#tableView").tablesorter();
</script>



</html>