<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">

<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header" style="background: url(/images/background/events_bg.png) center center no-repeat scroll;" layout:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class = "tagline">Events</h1>
                <p>Battles, deaths, weddings.</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class ="container" layout:fragment="breadcrumb">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Events</li>
        </ol>
    </div>
</div>

<!-- CONTAINER -->
<div class="container" layout:fragment="body">

    <!-- Toggle Button -->
    <div class="buttons col-md-10 col-md-offset-2">
        <button class="grid"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
        <button class="table-hover"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
    </div>

    <div class="row pic-grid">
        <div class="row pillars">

            <div class="col-sm-4" th:each="event :${eventList}">
                <a th:href="'/events/'+${event.eventId}">
                    <img class="img-circle img-responsive img-center" th:src="'/images/events/event'+${event.eventId}+'.png'"/>
                </a>
                <h2 th:text="${event.name}"></h2>
            </div>

        </div>
    </div>

    <!-- Table -->
    <table class="row table table-hover hide tablesorter" id="tableView">
        <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>

        <tbody>

        <tr class="clickable-row" th:each="event : ${eventList}" data-href="'/events/'+${event.eventId}">
            <td th:text="${event.eventId}"></td>
            <td><div><img class="img-circle" th:src="'/images/events/event'+${event.eventId}+'.png'"/></div></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.eventType}"></td>
        </tr>

        </tbody>
    </table>
    <!-- TABLE END -->

</div>
<!-- CONTAINER END -->


<script>
  $("#tableView").tablesorter();
</script>


</html>