<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Valar Morghulis</title>

    <link rel="icon" type="image/png" href="/favicon.png"/>

    <!-- Shift Font CSS -->
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

    <!-- Bootstrap Theme CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/housedowning.css"/>
    <link rel="stylesheet" href="/css/tools.css" />

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Valar Morghulis</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pillars
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/characters">Characters</a></li>
                        <li><a href="/organizations">Organizations</a></li>
                        <li><a href="/locations">Locations</a></li>
                        <li><a href="/events">Events</a></li>
                        <li><a href="/episodes">Episodes</a></li>
                    </ul>
                </li>
            </ul>
            <div class="input-group pull-right col-sm-3" style="margin-top:8px">

                <input type="text" class="form-control" id="query" placeholder="Search for..."/>
                <span class="input-group-btn">
              <button class="btn btn-default glyphicon glyphicon-search" type="button" onclick="search()" style="top:0px"></button>
            </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <!--/.nav-collapse -->
</nav>

<!--Header Fragment Here-->
<header layout:fragment="header"></header>

<div class="container" style="width:100%; margin: 0px; padding: 0px">


    <!--Breadcrumb Fragment Here-->
    <div layout:fragment="breadcrumb"></div>

    <!--Body Fragment Here-->
    <div layout:fragment="body"></div>



    <!-- Footer -->
    <footer class="container-fluid" style="background-color: #aaaaaa">

        <div class="row">
            <div class="pull-left copyright" style="padding-left: 10px; padding-top: 5px; width: 300px">
                <p style="text-align: left">Copyright &copy; House Downing 2015</p>
            </div>
            <div style="display: inline-block;">
                <a href="http://chatwithhodor.com/">
                    <img style="width: 30px; height: 30px; display:inline-block" src="/images/branding/feather.png"/>
                    <p style="display:inline-block">Send Ravens to Gateshenge</p></a>
            </div>
            <div class="pull-right brand-mini" style="padding-right: 10px; width: 300px; text-align: right">
                <a href="https://github.com/QuiteStochastic/thrones_db_spring">
                    <img src="/images/branding/github.png" alt="github mini"/>
                    <span style="text-align: left">See the code to this site</span>
                </a>
            </div>
        </div>

    </footer>
</div>
</body>
<!-- /.container -->
<!-- Bootstrap core JavaScript
     ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="/js/smoothscroll.js"></script>
<script src="/js/toggle.js"> </script>
<script src="/js/table.js"> </script>
<script>
    function search() {
        location.href = "/results?q=" + document.getElementById("query").value;
    }
</script>
<script>
    $("#query").keyup(function(event){
        if(event.keyCode == 13){
            search();
        }
    });
</script>

<script src="/js/pulldata.js"></script>

<!--Scripts Fragment Here-->
<script layout:fragment="scripts"></script>


</html>