<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">


<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header" style="background: url(/images/background/locations_bg.png) center center no-repeat scroll;" layout:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class = "tagline">Locations</h1>
                <p>Castles, cities, and other landmarks.</p>
            </div>
        </div>
    </div>
</header>


<!-- Page Content -->
<div class ="container" layout:fragment="breadcrumb">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Locations</li>
        </ol>
    </div>
</div>


<!-- CONTAINER -->
<div class="container" layout:fragment="body">

    <!-- Toggle Button -->
    <div class="buttons col-md-10 col-md-offset-2">
        <button class="grid"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></button>
        <button class="table-hover"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
    </div>

    <!-- Picture Grid -->
    <div class="row pic-grid">
        <div class="row pillars">


            <div class="col-sm-4" th:each="location :${locationList}">
                <a th:href="'/locations/'+${location.locationId}">
                    <img class="img-circle img-responsive img-center" th:src="'/images/locations/location'+${location.locationId}+'.png'"/>
                </a>
                <h2 th:text="${location.name}"></h2>
            </div>

        </div>
    </div>

    <!-- Table -->
    <table class="row table table-hover hide tablesorter" id="tableView">
        <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Name</th>
            <th>Type</th>
        </tr>
        </thead>

        <tbody>

        <tr class="clickable-row" th:each="location:${locationList}" th:attr="data-href='/locations/'+${location.locationId}">
            <td th:text="${location.locationId}"></td>
            <td><div><img class="img-circle" th:src="'/images/locations/location'+${location.locationId}+'.png'"/></div></td>
            <td th:text="${location.name}"></td>
            <td th:text="${location.locationType}"></td>
        </tr>

        </tbody>
    </table>
</div>
<!-- END CONTAINER -->


<script layout:fragment="scripts">
  $("#tableView").tablesorter();
</script>


</html>